@font-face {
  font-family: poppin;
  src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: josefin;
  src: url(./fonts/JosefinSans-Thin.ttf);
}
.nav-div {
  margin-top: -1%;
  background-color: #0d0d0e;
  margin-bottom: -1%;
}
.nav-item {
  color: white;
  font-family: poppin;
  padding-right: 13px;
  font-weight: bold;
}
.bg-section {
  background-image: url(img/cakebg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 95vh;
  display: flex;
  /* margin-top: -5%; */
}
.bg-content {
  position: absolute;
  align-items: center;
  top: 40%;
}
.bg-heading {
  font-family: josefin;
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  font-weight: 500;
  padding-left: 10px;
}
.but1 {
  width: 35%;
  height: 10vh;
  background-color: #e5bf4a;
  color: #000000;
  font-family: josefin;
  border: none;
  font-weight: bolder;
  margin-left: 5%;
  transition: 1s;
}
.but1:hover {
  background-color: transparent;
  color: #e5bf4a;
  border: 1px solid #e5bf4a;
}
.sec2 {
  background-color: #0d0d0e;
  margin-top: -6%;
}
.theme {
  font-family: josefin;
  color: white;
  text-align: center;
  font-size: 45px;
}
.line {
  background-color: #e5bf4a;
  border-radius: 4px;
  width: 10%;
  height: 2px;
  margin-top: 1%;
}
.theme-content {
  font-family: josefin;
  color: #e5bf4a;
  font-size: 30px;
}
.theme-content1 {
  font-family: josefin;
  color: white;
  line-height: 24px;
  font-size: 21px;
  font-weight: 500;
}
.theme-img {
  width: 90%;
}
.slider-img {
  width: 100%;
  height: 35vh;
}
.slider-head {
  color: white;
  font-family: josefin;
  text-align: start;
  font-size: 34px;
  padding-top: 2%;
}
.slider-price {
  color: #e5bf4a;
  font-family: josefin;
  font-size: 27px;
  text-align: start;
  font-weight: bold;
}
.lover {
  color: white;
  font-family: josefin;
  text-align: center;
  font-size: 55px;
}
.rating-main {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.rating1 {
  border-right: 1px solid white;
}
.rate-para {
  color: white;
  font-family: josefin;
  font-size: 30px;
  line-height: 40px;
  padding: 0px 10px;
}
.cust-name {
  color: white;
  font-family: josefin;
  font-weight: bold;
  font-size: 17px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.blog-main {
  display: flex;
  flex-direction: row;
}
.b-img {
  width: 100%;
  height: 370px;
  border: none;
}
.blog-content {
  border: 1px solid rgb(161, 155, 155);
  /* margin-left: -2px; */
}
.b-head {
  /* text-align: center; */
  color: #e9b92a;
  letter-spacing: 1;
  font-weight: bold;
  font-family: josefin;
  word-spacing: 1;
  font-size: 25px;
  padding-top: 20px;
  padding-left: 30px;
}
.blog-more {
  color: #e9b92a;
  font-family: josefin;
  padding-left: 30px;
  font-weight: bold;
  /* border-bottom: 1px solid #e9b92a; */
}
.line2 {
  background-color: #e5bf4a;
  border-radius: 4px;
  width: 35%;
  height: 2px;
  margin-top: 1%;
}
@media screen and (max-width: 768px) {
  .sec2 {
    margin-top: -10%;
  }
  .theme {
    font-family: josefin;
    color: white;
    text-align: center;
    font-size: 35px;
  }
  .bg-section {
    margin-bottom: -9%;
  }
  .bg-content {
    position: absolute;
    align-items: center;
    top: 30%;
  }
  .line {
    background-color: #e5bf4a;
    border-radius: 4px;
    width: 40%;
    height: 4px;
  }
  .rating-main {
    display: block;
    flex-direction: column;
    border: none;
  }
  .rating1 {
    border-right: none;
    border-bottom: 1px solid white;
    padding-bottom: 40px;
  }
  .rate-3 {
    border-top: 1px solid white;
    margin-top: 10%;
  }
  .customer {
    padding-bottom: 40px;
    border-bottom: 1px solid white;
  }
  .rate-para {
    color: white;
    font-family: josefin;
    font-size: 20px;
    line-height: 24px;
  }
  .but2 {
    width: 95%;
    height: 10vh;
    background-color: #e5bf4a;
    color: #000000;
    font-family: josefin;
    border: none;
    font-weight: bolder;
    margin-left: 5%;
    transition: 1s;
  }
  .but2:hover {
    background-color: transparent;
    color: #e5bf4a;
    border: 1px solid #e5bf4a;
  }
  .blog-main {
    display: flex;
    flex-direction: column;
  }
  .blog-section-main {
    display: block;
    flex-direction: column;
  }
  .b-img {
    width: 90%;
    height: 370px;
    border: none;
    margin-left: 5%;
  }
  .blog-content{
    border: none;
  }
}
